<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>My Portofolio | Farchan Abimanyu</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <!-- mycss -->
    <link rel="stylesheet" href="static/style.css">
  </head>
  <body id="home">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary shadow-sm fixed-top">
    <div class="container">
      <a class="navbar-brand" href="#">Farchan Abimanyu</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#about">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#myskills">Skills</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#certificate">Certificate</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#contact">Contact Me</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <!-- Akhir Navbar -->
  <!-- Jumbotron -->
  <section class="jumbotron text-center">
    <img src="static/img/IMG_1149 (3).JPG" alt="Farchan" width="300" class="rounded-circle">
    <h1 class="display-4">Farchan Abimanyu</h1>
    <p class="lead">Frontend Developer.</p>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
    <path fill="#FFFFFF" fill-opacity="1" d="M0,192L34.3,186.7C68.6,181,137,171,206,186.7C274.3,203,343,245,411,245.3C480,245,549,203,617,165.3C685.7,128,754,96,823,117.3C891.4,139,960,213,1029,229.3C1097.1,245,1166,203,1234,202.7C1302.9,203,1371,245,1406,266.7L1440,288L1440,320L1405.7,320C1371.4,320,1303,320,1234,320C1165.7,320,1097,320,1029,320C960,320,891,320,823,320C754.3,320,686,320,617,320C548.6,320,480,320,411,320C342.9,320,274,320,206,320C137.1,320,69,320,34,320L0,320Z"></path></svg>
  </section>
  <!-- Akhir Jumbotron -->
  <!-- About-->
  <section id="about">
  <div class="container ">
    <div class="row text-center mb-3">
      <div class="col">
        <h2>About Me</h2>
        One of two columns
      </div>
    </div>
    <div class="row justify-content-center fs-5 tekt-center">
        <div class="col-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vel corporis odit sint rerum quas qui necessitatibus velit ducimus incidunt praesentium!</p>
        </div>
        <div class="col-4">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere at hic, nulla dicta nobis, quae illum cumque eveniet possimus ipsum asperiores nesciunt reiciendis eius voluptate!</p>
        </div>
    </div>
  </div>
  <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#e2edff" fill-opacity="1" d="M0,256L30,234.7C60,213,120,171,180,170.7C240,171,300,213,360,218.7C420,224,480,192,540,170.7C600,149,660,139,720,138.7C780,139,840,149,900,170.7C960,192,1020,224,1080,240C1140,256,1200,256,1260,250.7C1320,245,1380,235,1410,229.3L1440,224L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
  </section>
  <!-- Akhir About -->
  <!-- Projects -->
  <section id="projects">
    <div class="container">
        <div class="row text-center">
            <div class="col">
                <h2>My Projects</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="static/img/Projects/Screenshot (18).png" class="card-img-top" alt="Projects 1">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="static/img/Projects/Screenshot (81).png" class="card-img-top" alt="Projects 2">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="static/img/Projects/Screenshot (436).png" class="card-img-top" alt="Projects 3">
                    <div class="card-body">
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    </div>
                  </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card">
                  <img src="static/img/Projects/WhatsApp Image 2023-11-02 at 19.41.17 (1).jpeg" class="card-img-top" alt="Projects 4">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
          </div>
          <div class="col-md-4 mb-3">
              <div class="card">
                  <img src="static/img/Projects/WhatsApp Image 2023-11-02 at 19.41.18.jpeg" class="card-img-top" alt="Projects 5">
                  <div class="card-body">
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                  </div>
                </div>
          </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFFFFF" fill-opacity="1" d="M0,256L60,266.7C120,277,240,299,360,266.7C480,235,600,149,720,138.7C840,128,960,192,1080,197.3C1200,203,1320,149,1380,122.7L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
  </section>
  <!-- Akhir Projects -->
  <!-- My Skills -->
  <section id="myskills">
    <div class="container ">
      <div class="row text-center mb-3">
        <div class="col">
          <h2>My Skills</h2>
        </div>
      </div>
      <div class="row justify-content-center fs-5 tekt-center">
          <div class="col-4">
              <p>Everything we do, especially studying learning, will taste bitter, because it is from that bitterness that we realize that we will produce hard work that is not in vain. So don't ever give up in fighting for your target, keep reaching until you reach it</p>
          </div>
          <div class="col-4">
              <h2>Coding</h2>
              <p></p><p></p>
              <img src="static/img/skills/PHP-logo.svg.png" width="80px" alt="php">
              <img src="static/img/skills/985px-Laravel.svg.png" width="50px" alt="laravel">
              <img src="static/img/skills/Git-Icon-1788C.png" width="50px" alt="git">
              <img src="static/img/skills/Bootstrap_logo.svg.png" width="50px" alt="bootstrap">
              <img src="static/img/skills/Sql_data_base_with_logo.png" width="90px" alt="php">
              <img src="static/img/skills/423b97b41c8b420d28e84f9b07a530ec.png" width="100px" alt="htmlcssjs">
              <img src="static/img/skills/PostgreSQL-Logo.wine.png" width="100px" alt="postgresql">
              <img src="static/img/skills/267_Python-512.webp" width="50px" alt="python">
          </div>
      </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#e2edff" fill-opacity="1" d="M0,256L30,234.7C60,213,120,171,180,170.7C240,171,300,213,360,218.7C420,224,480,192,540,170.7C600,149,660,139,720,138.7C780,139,840,149,900,170.7C960,192,1020,224,1080,240C1140,256,1200,256,1260,250.7C1320,245,1380,235,1410,229.3L1440,224L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
    </section>
  <!-- Akhir My Skills -->
  <!-- Certificate -->
  <section id="certificate">
    <div class="container"> 
        <div class="row text-center">
            <div class="col">
                <h2>Certificate</h2>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="static/img/Projects/Sertifikat/Peserta Smart System Smart Application - Farchan Abimanyu.png" class="card-img-top" alt="Certificate 1">
                  </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="static/img/Projects/Sertifikat/Sertifikat Magang IDS.png" class="card-img-top" alt="Certificate 2">
                  </div>
            </div>
            <div class="col-md-4 mb-3">
                <div class="card">
                    <img src="static/img/Projects/Sertifikat/Sertifikat OSMA_page-0001.jpg" class="card-img-top" alt="Certificate 3">
                  </div>
            </div>
            <div class="col-md-4 mb-3">
              <div class="card">
                  <img src="static/img/Projects/Sertifikat/img001.jpg" class="card-img-top" alt="Certificate 4">
                </div>
          </div>
          <div class="col-md-4 mb-3">
              <div class="card">
                  <img src="static/img/Projects/Sertifikat/Sertifikat PF_20231015_182926_0000.png" class="card-img-top" alt="Certificate 5">
                </div>
          </div>
          <div class="col-md-4 mb-3">
            <div class="card">
                <img src="static/img/Projects/Sertifikat/Sertifikat Prograte HTML & CSS.jpg" class="card-img-top" alt="Certificate 6">
              </div>
        </div>
        <div class="col-md-4 mb-3">
            <div class="card">
                <img src="static/img/Projects/Sertifikat/Sertifikat Prograte JS.jpg" class="card-img-top" alt="Certificate 7">
              </div>
        </div>
        <div class="col-md-4 mb-3">
          <div class="card">
              <img src="static/img/Projects/Sertifikat/Sertifikat Prograte.jpg" class="card-img-top" alt="Certificate 8">
            </div>
      </div>
      <div class="col-md-4 mb-3">
          <div class="card">
              <img src="static/img/Projects/Sertifikat/Farchan Abimanyu.png" class="card-img-top" alt="Certificate 9">
            </div>
      </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#FFFFFF" fill-opacity="1" d="M0,256L60,266.7C120,277,240,299,360,266.7C480,235,600,149,720,138.7C840,128,960,192,1080,197.3C1200,203,1320,149,1380,122.7L1440,96L1440,320L1380,320C1320,320,1200,320,1080,320C960,320,840,320,720,320C600,320,480,320,360,320C240,320,120,320,60,320L0,320Z"></path></svg>
  </section>
  <!-- Akhir Certificate -->
  <!-- Contact -->
  <section id="contact">
    <div class="container">
        <div class="row text-center mb-3">
            <div class="col">
                <h2>Contact Me</h2>
            </div>
        </div>
        <div class="row justify-content-center">
         <div class="col-md-6">
            <form>
                <div class="mb-3">
                  <label for="name" class="form-label">Nama Lengkap</label>
                  <input type="email" class="form-control" id="name" aria-describedby="name">
                </div>
                <div class="mb-3">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" class="form-control" id="email" aria-describedby="email">
                </div>
                <div class="mb-3">
                    <label for="pesan" class="form-label">Pesan</label>
                    <textarea class="form-control" id="pesan" rows="3"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Kirim</button>
              </form>
         </div>
        </div>
    </div>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#0d6efd" fill-opacity="1" d="M0,192L80,197.3C160,203,320,213,480,213.3C640,213,800,203,960,202.7C1120,203,1280,213,1360,218.7L1440,224L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z"></path></svg>
  </section>
  <!-- Akhir Contact -->

  <!-- Footer -->
  <footer class="bg-primary text-white text-center pb-5">
    <p>Created with love by <a href="https://www.instagram.com/farchanabimanyu_37/" class="text-white fw-bold">Farchan Abimanyu</a></p>
  </footer>
  <!-- Akhir Footer -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  </body>
</html>